@media screen and (max-width:500px){
    *{margin: 1px;padding: 0px;}
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      align-content: center;        
    }
    header{
        border: 10px solid #000;
        border-width: 3px 10px 10px 10px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px;
        background-color: rgb(41,40,58);
        
        
    }
    header.flex-container{flex-direction: column;}
    header div{
        width: 100%;
        background-color: rgb(161, 61, 21);
    }
    
    div{
        width: 50%;
        margin: 5px;padding: 5px;
        
    }
    
    nav{
        border: 10px solid #000;
        border-width: 3px 10px 10px 10px;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 0px;
        background-color: rgb(255, 173, 50);
    }
    nav div:first-of-type{
        background-color: rgb(252, 239, 124);
        width: 100%;
    
    }
    main{
        border: 10px solid rgb(227, 248, 32);
        width: 100%;
        margin-top: 10px;
        margin-bottom: 0px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px;
        background-color: rgb(50, 37, 73);
        
        
    }
    main section{
        flex-direction: column;
        margin: 0px;
        justify-content: center;
    }
     main section div:first-of-type{
        background-color: rgb(3, 59, 92);
        width: 95%;
        ;
    }
    main section div:nth-of-type(2){
        background-color: rgb(3, 59, 92);
        width: 95%;
        
    }
    
    main div:first-of-type{
        width: 100%;
        background-color: rgb(59, 96, 121);
        
          
    
    }
    main .flex-container {flex-direction: column;}
    aside{
        border: 10px solid rgb(227, 248, 32);
        width: 100%;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        padding: 9px;
        background-color: rgb(226, 55, 3);
       
        
    }
    aside div:first-of-type{
        background-color: rgb(250, 248, 112);
        width: 100%;
        margin: 5px;padding: 5px;
        
        
        
        
    }
    aside div:nth-of-type(2){
        background-color: rgb(250, 248, 112);
        width: 100%;
        margin: 5px;padding: 5px;
        
    
    }
    aside.flex-container{
        flex-direction: column;
    }
    footer{
        border: 10px solid #000;
        width: 100%;
        margin: 10px;padding: 5px;
        background-color: rgb(255, 196, 0);
    }


}
